<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="estiloRaposinha.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Revista A Raposinha</title>
  <link rel="shortcut icon" href="/assets/icon.png"/>
</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand navbar-dark fixed-top">
    <a class="navbar-brand" href="#">
     <img src="/assets/logoraposinha.png" id ="logoraposinha" width="280" height="80" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div style='text-align:right' class="collapse navbar-collapse" id="navbarsExample02">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#carouselExampleIndicators">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tituloartigo">Artigos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#videos">Vídeos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#podcast-infos">Podcasts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contato</a>
            <li class="nav-item">

          </li>
        </ul>
      </div>
    </nav>
  <!-- FIM DA NAVBAR -->

<!-- HEADER -->
<header>
<div align="center" id="carouselExampleIndicators" class="carousel slide container" data-ride="carousel">
<ol class="carousel-indicators">
  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
  <div class="carousel-item active">
    <center><img class="d-block img-fluid img-thumbnail" id="imgdosslides" src="/assets/raposa2.jpg" alt="First slide"></center>
    <div class="carousel-caption d-none d-md-block">
        <h1>Revista A Raposinha</h1>
        <p>Mais informação, menos enrolação.</p>
      </div>
  </div>
  <div class="carousel-item">
    <center><img class="d-block img-fluid img-thumbnail" id="imgdosslides" src="/assets/raposa1.jpg" alt="Second slide"></center>
    <div class="carousel-caption d-none d-md-block">
        <h1>Notícias da Amazonia</h1>
        <p>Indios canibais retornam</p>
      </div>
  </div>
  <div class="carousel-item">
    <center><img class="d-block img-fluid img-thumbnail" id="imgdosslides" src="/assets/raposa4.jpg" alt="Third slide"></center>
    <div class="carousel-caption d-none d-md-block">
        <h1>Jacaré é morto por pato</h1>
        <p>Arnaldo se vinga</p>
      </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" id="prev" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" id="next" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
</header>
<!-- FIM DO HEADER -->

<!-- ARTIGOS -->
<br><br><section>
<br><br>
<div class="container" id="artigo1"
<br><center><h1  id="tituloartigo">Artigos da edição Especial de Novembro</h1></center><br>
  <center><img class="image" src="/assets/Revista2.png"></center><Br>
<center><h2 id="subtituloartigo">Garanta já a sua!<h2></center>
<div class="col-md-8" id="postagens"><br><br>

        <h1 class="my-4">Placas Tectônicas e como elas podem solucionar mistérios da humanidade.
          <br><small>por Jonathan Amos
Repórter de Ciência da BBC</small>
        </h1>

        <!-- POSTAGEM EXEMPLO -->
        <div class="card mb-4">
          <img class="card-img-top" src="/assets/tectonica.jpg" alt="Card image cap" id="imaginha">
          <div class="card-body">
            <h2 class="card-title">Placas Tectônicas,o que elas nos dizem?</h2>
            <p class="card-text">Dan McKenzie: os jovens cientistas dos anos 1960 buscaram respostas para perguntas que intrigavam as gerações anteriores | Foto: The Geological Archive, Mckenzie Archive)</p>
            <p><a href="http://www.bbc.com/portuguese/internacional-41976608" class="btn btn-secondary" id="bt1"> Continuar lendo &rarr;</a></p>

          </div>
          <div class="card-footer text-muted">
            Postado por Arnaldo em 21/11/2017
          </div>
        </div><Br>
        <h1 class="my-4">Startups InovAtiva participam de programa de imersão no Vale do Silício
          <br>
        </h1>

        <!-- POSTAGEM EXEMPLO -->
        <div class="card mb-4">
          <img class="card-img-top" src="/assets/inova.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">INSIDERS - Revolucionando o cenário das Startups!</h2>
            <p class="card-text">O primeiro passo para qualquer Startup do Brasil captar recursos e conquistar clientes.</p>
            <p><a href="http://www.inovativabrasil.com.br/startups-inovativa-participam-de-programa-de-imersao-no-vale-do-silicio/" class="btn btn-secondary" id="bt2"> Continuar lendo &rarr;</a></p>

          </div>
          <div class="card-footer text-muted">
            Postado por Arnaldo em 21/11/2017
          </div>
        </div>

<Br>

</section>

<!-- FIM DOS ARTIGOS -->


<!-- VIDEOS -->
<br><br><br>
<br>
<section>
<div class="container" id="v">
<div id="videos"class="mac">
<h1 id="titulodoartigo" class="text-center"> Vídeos no YouTube da Nossa Revista</h1>
<iframe id="videozin" class="embed-responsive-item" width="100%" height="338" src="http://www.youtube.com/embed/QBDdQefycuU" frameborder="0" allowfullscreen></iframe>
<h2 id="deescriçãodoartigo" class="text-center"> Confira a matéria acima e surpreenda-se com o resultado</h2>
</div>
</div>
</section>
<!-- FIM DOS VIDEOS -->
<!-- PODCASTS -->
<br><br><br>
<section id="podcast-infos">
<div class="duration">
<h1 id="Duracaopodcast">Front-end e Design
<h1>Episódio 75 – Front-end e Design – Parte 3 de 4.
</div>
<a href="http://media.grokpodcast.com/grokpodcast-75-front-end-design.mp3" title="Download" class="download-podcast" download="grokpodcast-75-front-end-design.mp3">Download</a>
<span id="published_on">Publicado por Arnaldo em 19/11/2017</span>
<div id="podcast">
<h1 id="titulopodcast">
<audio id="barrinhamp3"controls="">
<source src="http://media.grokpodcast.com/grokpodcast-75-front-end-design.mp3" type="audio/mpeg">
Seu browser não suporta a tag de audio HTML5
</audio>
</div>
<br><br><br>
<div class="duration">
<h1 id="Duracaopodcast">Front-end e Design
<h1>Episódio 76 – Front-end e Design – Parte 4 de 4.
</div>
<a href="http://media.grokpodcast.com/grokpodcast-76-front-end-design.mp3" title="Download" class="download-podcast" download="grokpodcast-76-front-end-design.mp3">Download</a>
<span id="published_on">Publicado por Arnaldo em 20/11/2017</span>
<div id="podcast">
<h1 id="titulopodcast">
<audio id="barrinhamp3"controls="">
<source src="http://media.grokpodcast.com/grokpodcast-76-front-end-design.mp3" type="audio/mpeg">
Seu browser não suporta a tag de audio HTML5
</audio>
</div>
</section>
<!-- FIM DOS PODCASTS-->


<!-- FOOTER -->

<footer id="footer" class="clearfix ">
    <div id="footer-widgets">

      <div class="container">

      <div id="footer-wrapper">

        <div class="row">
          <div class="col-sm-6 col-md-2">
            <div id="meta-3" class="widget widgetFooter widget_meta">
          <center><h4 class="widgettitle">Importante:</h4></center>
            <ul>
        <li><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
      <li><a href="privacypolicy.php"><i class="fa fa-link"></i> Política de privacidade</a></li>
      <li><a href="#"><i class="fa fa-envelope fa-fw"></i> Contate-nos</a></li>
           </ul>
</div>      </div> <!-- end widget1 -->

          <div class="col-sm-6 col-md-2">
                <div id="recent-posts-3" class="widget widgetFooter widget_recent_entries">
                  <h4 class="widgettitle">Redes Sociais:</h4>
                  <ul>
        <li>
           <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"> Facebook</i></a>
        </li>
        <li>
            <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"> Twitter</i></a>
        </li>
        <li>
            <a href="http://www.youtube.com/" target="_blank"><i class="fa fa-youtube"> Youtube</i></a>
         </li>
      </ul>
  </div>            </div> <!-- end widget1 -->

          <div class="col-sm-6 col-md-4">
            <div id="meta-4" class="widget widgetFooter widget_meta">
            <h4 class="widgettitle">Inscrever-se:</h4>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">E-mail :</span>
                <input class="form-control" placeholder="ex.: raposa@gmail.com" type="text">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Número</span>
                <input class="form-control" placeholder="ex.: +55 (DDD)9 9999-9999 " type="text">
                                                  </div>
                                                  <br>
                                                  <center><button class="btn btn-dark" type="button">Enviar</button></center>
            </div>


            </div>
           </div> <!-- end widget1 -->

          <div class="col-sm-6 col-md-4">
            <div id="search-3" class="widget widgetFooter widget_search"><h4 class="widgettitle">Busque no Site : </h4><br>

              <div class="form-group">

                              <div class="input-group">
                                <span class="input-group-addon"Senha:</span>
                                <input class="form-control" placeholder="Digite o que procura" type="text">
                                 <span class="input-group-btn">
                                   <button class="btn btn-dark" type="button">Pesquisar</button>
                                </span>
                              </div>
                            </div>

              </div>            </div> <!-- end widget1 -->

        </div> <!-- end .row -->

      </div> <!-- end #footer-wrapper -->

      </div> <!-- end .container -->
    </div> <!-- end #footer-widgets -->

    <div id="sub-floor">
      <div class="container">
        <div class="row">
          <div class="col-md-4 copyright">
           ©Copyright 2017. Todos os direitos reservados.
          </div>
          <div class="col-md-4 col-md-offset-4 attribution">
           Developer by  <a target="_blank" href="#">Acens Empresa Júnior</a> .
          </div>
        </div> <!-- end .row -->
      </div>
    </div>

  </footer>

<!--FIM DO  FOOTER -->

<!-- <script type="text/javascript" src="jquery-3.2.1.min.js"></script> -->
<script src="raposinha/Gemfile/gem 'jquery-rails', '~> 4.3', '>= 4.3.1'" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="raposinha/Gemfile/gem 'twitter-bootstrap-rails', '~> 4.0'" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!-- <script src="bootstrap.js"></script> -->
<script src="index.js"></script>
</body>
  <body>
    <%= yield %>
  </body>
</html>
